<!DOCTYPE html>
<html lang="en">
<head>
  <title>BANCO RÍO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../images/icono.png">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script defer src="../js/conversor.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
              <img src="../images/logo-itbank.png" alt="Logo del banco">
            </a>
        </div>
        <div class="dropdown">
            <button type="button" class="btn btn-dark" data-bs-toggle="dropdown">Menú <i class="fa-solid fa-bars"></i></button>
            <ul class="dropdown-menu">
                <li><a href="index.html" class="dropdown-item"><i class="fa-solid fa-house"></i> Inicio</a></li>
                <li><a href="cuentas.html" class="dropdown-item"><i class="fa-solid fa-credit-card"></i> Cuentas</a></li>
                <li><a href="pagos.html" class="dropdown-item"><i class="fa-solid fa-receipt"></i> Pagos</a></li>
                <li><a href="#" class="dropdown-item"><i class="fa-solid fa-arrow-right-arrow-left"></i> Transferencias</a></li>
                <li><hr class="dropdown-divider"></hr></li>
                <li><a href="transferencias.html" class="dropdown-item">Comprobantes</a></li>
                <li><a href="nueva-transferencia.html" class="dropdown-item">Nueva transferencia</a></li>
                <li><hr class="dropdown-divider"></hr></li>
                <li><a href="conversor.html" class="dropdown-item"><i class="fa-solid fa-dollar-sign"></i> Conversor</a></li>
                <li><a href="simulador.html" class="dropdown-item"><i class="fa-solid fa-piggy-bank"></i> Préstamos</a></li>
            </ul>
        </div>
    </header>
    <section class="principal">
    <nav class="menu-desplegado">
        <ul class="lista">
            <li><a href="index.html"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li><a href="cuentas.html"><i class="fa-solid fa-credit-card"></i> Cuentas</a></li>
            <li><a href="pagos.html"><i class="fa-solid fa-receipt"></i> Pagos</a></li>
            <li><a href="#transferencia" class="dropdown-item " data-bs-toggle="collapse"><i class="fa-solid fa-arrow-right-arrow-left"></i> Transferencias</a></li>
                <a href="transferencias.html" id="transferencia" class="collapse">Comprobantes</a>
                <a href="nueva-transferencia.html" id="transferencia" class="collapse">Nueva transferencia</a>
            <li><a href="conversor.html"><i class="fa-solid fa-dollar-sign"></i> Conversor</a></li>
            <li><a href="simulador.html"><i class="fa-solid fa-piggy-bank"></i> Préstamos</a></li>
        </ul>
    </nav>
        <article class="conversor">
            <h1> Conversor de monedas</h1>
            <h3> Indique las monedas y las cantidades para su conversión</h3>
            <p><strong>ATENCION:</strong> Todas las divisas serán convertidas a su valor oficial del día de la fecha</p>
            <div>
                <select name="moneda1" id="moneda1">
                    <option value="ARS">ARS</option>
                    <option value="AUD">AUD</option>
                    <option value="BRL">BRL</option>
                    <option value="CLP">CLP</option>
                    <option value="EUR">EUR</option>
                    <option value="GBP">GBP</option>
                    <option value="PYG">PYG</option>
                    <option value="USD" selected>USD</option>
                    <option value="UYU">UYU</option>
                </select>
                <input type="text" class="sin-borde" name="monto1" id="monto1" placeholder="0">
            </div>
            <div class="contenedor_invertir">
                <button class="boton" id="botoninvertir"><i class="fa-solid fa-shuffle"></i></button>
                <div class="precio" id="precio"></div>
              </div>
            </div>
            <div>
                <select name="moneda2" id="moneda2">
                    <option value="ARS" selected>ARS</option>
                    <option value="AUD">AUD</option>
                    <option value="BRL">BRL</option>
                    <option value="CLP">CLP</option>
                    <option value="EUR">EUR</option>
                    <option value="GBP">GBP</option>
                    <option value="PYG">PYG</option>
                    <option value="USD">USD</option>
                    <option value="UYU">UYU</option>
                </select>
                <input type="text" class="sin-borde" name="monto2" id="monto2" placeholder="0">
            </div>
        </article>
    </section>
    <footer>
        <p>Términos de uso</p>
        <p>Políticas de privacidad</p>
        <p>Contacto</p>
    </footer>
</body>
</html>