.formulario-transfer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenedor-form{
    box-shadow: 16px 10px 30px -17px rgba(0,0,0,0.3);
    padding: 1rem;
    background-color: lightgray;
    margin: auto;
    margin-top: 2rem;
    border-radius: 25px;
    width: 80%;
}

.formulario-transfer label {
    margin-bottom: 0.5rem;
}

h1 {
    text-align: center;
}

.boton-transferencia{
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: darkblue;
    width: 40%;
    align-self: center;
}

.destinatario-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {
    .contenedor-form{
        margin: auto;
        margin-top: 2rem;
        width: 50%;
    }

}
