#pagos {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.detalle a{
    text-decoration: underline;
    color: black;
}

@media (min-width: 768px) {
    #pagos {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 80%;
    }

    #tablaPago {
        width: 80%;
    }
}

