#transferencias {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tabla-pago1 {
    width: 80%;
}

@media (max-width: 450px) {
    .oculto {
        display: none;
    }
}