@import 'bootstrap/dist/css/bootstrap.min.css';

header {
    background: linear-gradient(darkblue, blue);
    color: whitesmoke;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
}

.logo img {
    width: 100%;
}

footer {
    background: linear-gradient(darkblue, blue);
    color: whitesmoke;
    margin-top: 2rem;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a{
   text-decoration: none;
   color: white;
}

@media (min-width: 768px) {
    .principal {
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
    }
}